<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{{path('index')}}">
            <span class="align-middle">
                B-Integral
            </span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages

            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" href="{{path('index')}}">
                    <i class="align-middle" data-feather="sliders"></i>
                    <span class="align-middle">
                        Dashboard
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Factures</span>
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="{{ path('facture.list') }}">Listes des
                            factures</a></li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a data-bs-target="#tiers" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Tiers</span>
                </a>
                <ul id="tiers" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="{{ path('tiers.list') }}">Listes des
                            tiers</a></li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{{path('profile')}}">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">
                        Profile
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-in.html">
                    <i class="align-middle" data-feather="log-in"></i>
                    <span class="align-middle">
                        Sign In
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-up.html">
                    <i class="align-middle" data-feather="user-plus"></i>
                    <span class="align-middle">
                        Sign Up
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-blank.html">
                    <i class="align-middle" data-feather="book"></i>
                    <span class="align-middle">
                        Blank
                    </span>
                </a>
            </li>

            <li class="sidebar-header">
                Factures
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('facture.list') }}">
                    <i class="align-middle" data-feather="square"></i>
                    <span class="align-middle">
                        Liste des factures
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-forms.html">
                    <i class="align-middle" data-feather="check-square"></i>
                    <span class="align-middle">
                        Forms
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-cards.html">
                    <i class="align-middle" data-feather="grid"></i>
                    <span class="align-middle">
                        Cards
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-typography.html">
                    <i class="align-middle" data-feather="align-left"></i>
                    <span class="align-middle">
                        Typography
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="icons-feather.html">
                    <i class="align-middle" data-feather="coffee"></i>
                    <span class="align-middle">
                        Icons
                    </span>
                </a>
            </li>

            <li class="sidebar-header">
                Plugins & Addons

            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="charts">
                    <i class="align-middle" data-feather="bar-chart-2"></i>
                    <span class="align-middle">
                        Charts
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="maps-google.html">
                    <i class="align-middle" data-feather="map"></i>
                    <span class="align-middle">
                        Maps
                    </span>
                </a>
            </li>
        </ul>

        <div class="sidebar-cta">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">
                    Upgrade to Pro
                </strong>
                <div class="mb-3 text-sm">
                    Are you looking for more components? Check out our premium version.

                </div>
                <div class="d-grid">
                    <a href="upgrade-to-pro.html" class="btn btn-primary">
                        Upgrade to Pro
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


{# navbar #}
